# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
.egg-info/
dist/
eggs/
.eggs/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
.env/
.venv/
env/
venv/

# VS Code settings
.vscode/

# Pytest
.pytest_cache/
*.cover
*.log
